*

.back-video {
width: 100%;
height: 100%;
right: 0;
bottom: 0;
position: absolute;
object-fit: cover;
pointer-events: none;
position: fixed;
}

* {
  margin: 0;
  padding: 0;
  font-family: ‘Times New Roman’, serif;
  box-sizing: border-box;
  }